<div ng-show="hasResult">
	<h1>{{name}}</h1>
	<span class="submitted-by">
		Gemaakt door <em>{{creator_name}}</em> op {{creation_date}} om {{creation_time}}
	</span>

	<span class="edit">
		<a href="#" ng-show="isCreator == 1" ng-click="editEvent($event)">Wijzig evenement</a>
	</span>
	<p class="description">
		{{description}}
	</p>

	<div class="date-container" ng-show="dates.length > 0">
		<h2>Kies je voorkeursdag(en)</h2>
		<ul class="dates">
			<li ng-repeat="date in dates track by $index">
				{{date.date}}
				<button class="btn btn-default choiceButton" ng-class="{selected: date.choice == 1}" ng-click="voteForDate($index, 1, date.choiceId)">Ja</button> 
				<button class="btn btn-default choiceButton" ng-class="{selected: date.choice == 2}" ng-click="voteForDate($index, 2, date.choiceId)">Nee</button> 
				<button class="btn btn-default choiceButton" ng-class="{selected: date.choice == 3}" ng-click="voteForDate($index, 3, date.choiceId)">Misschien</button> 
				<span class="choiceLoading" ng-show="date.choiceLoading">Laden</span>
			</li>
		</ul>
	</div>
</div>
<div class="no-result" ng-show="!hasResult">
Geen resultaat gevonden.
</div>