			* {
				margin: 0;
				padding: 0;
			}

			ul, ul li {
				list-style: none;
				margin: 0px;
			}
			

			.submitEvent {
				background: #CBDEFF;
				color: #000;
			}


			.user-container, .user-container .creator, .date-container {
				margin: 0 0 40px;
				overflow: hidden;
			}
			.user-container, .date-container {
				background: #CBDEFF;
				padding: 25px;
				margin-top: 15px;
			}

			.new-event span {
				display: inline-block;
				float: left;
				width: 40%;
				margin-right: 1%;
			}

				.new-event span.error-message {
					color: red;
					margin-left: 0;
					margin-top: -20px;
					display: inline-block;
					width: 90%;
				}

			.new-event span.number {
				width: 5%;
				display: inline-block;
				float: left;
				font-size: 2em;
				height: 100%;
			}

			.new-event .removeUser, .dates li .btn-danger {
				float: left;
				margin-left: 1%;
			}

			

			.new-event ul li {
				padding: 0 0 20px 0;
				overflow: hidden;
			}

			.new-event ul li.focus {
				background: #EAF2FF;
			}

			.dates li label {
				width: 100%;
			}

			.new-event p.description {
				margin: 0 0 20px;
			}

			
			.dates li .form-control {
				width: 80%;
				float: left;
				display: inline-block;
			}

			.form-control.ng-invalid {
				border: 1px solid red;
			}

			.choiceButton.selected {
				background: #89DC8A;
			}

			.submitted-by {
				font-size: 0.9em;
				font-style: italic;
				padding: 0 0 10px;
				display: inline-block;
			}

		.form-control.eventDescription, .form-control.eventName {
			margin: 0 0 20px;
			
		}

@media screen and (min-width: 320px) {
    .nav li {
    	float: left;
    	width: 100%;
    	margin: 5px 0;
    }

    .eventName {
    	width: 100%;
    }

    .creator li span {
    	width: 100%;
    }

    .users li .user {
    	float: left;
    	width: 80%;
    	margin: 0 1%;
    	padding: 0 0 0 1%;
    }

    .users li .user span {
    	float: left;
    	width: 100%;
    }

    .users li .user span label {
    	width: 25%;
    	float: left;
    	margin-top: 6px;
    }

    .users li .user span input {
    	width: 70%;
    	float: left;
    }

    .creator li span.name, .users li span.name {
    	margin-bottom: 20px;
    }


    .submitEvent {
    	width: 100%;
    	margin-bottom: 25px;
    	height: 50px;
    }

    h2 {
    	font-size: 1.5em;
    }

    .event-detail ul.dates li {
    	margin-bottom: 25px;
    }

    .event-detail ul.dates li span.date {
    	display: inline-block;
    	width: 100%;
    	font-weight: 500;
    	margin-bottom: 5px;
    }

}

@media screen and (min-width: 768px) {
    .nav li {
    	width: auto;
    }
 	h2 {
    	font-size: 2em;
    }


    .submitEvent {
    	width: auto;
    }

	.form-control.eventName {
		width: 70%;
	}
	.dates li .form-control {
		width: 60%;
	}

	.new-event .removeUser {
		margin: 23px 0 0;
	}

	.creator li span {
    	width: 45%;
    }

    .users li span {
    	width: 40%;
    }

}